body{
background-color: #f44336;
  margin: 0px;
}

header{
  background-color: #f44336;
  color: white;
  height: 150px;
  text-align: center;
}

body div nav ul li{
 display: inline-block 
}

#scrolling{
  position: fixed;
  margin-top: 0px;
  background-color: #f44336;
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  border-bottom: 2px solid black;
}
 
#homebutton{
 color: #fff!important;
 background-color:  #f44336;
 border: none;
 padding: 12px 24px!important;
 margin-top: 16px!important;
 font-size: 18px!important;
 display: inline-block;
}

#link1button{
 color: #fff!important;
 background-color:  #f44336;
 border: none;
 padding: 12px 24px!important;
 margin-top: 16px!important;
 font-size: 18px!important;
 display: inline-block;
}

#link2button{
 color: #fff!important;
 background-color:  #f44336;
 border: none;
 padding: 12px 24px!important;
 margin-top: 16px!important;
 font-size: 18px!important;
 display: inline-block;
}

#link3button{
 color: #fff!important;
 background-color:  #f44336;
 border: none;
 padding: 12px 24px!important;
 margin-top: 16px!important;
 font-size: 18px!important;
 display: inline-block;
}

#link4button{
 color: #fff!important;
 background-color:  #f44336;
 border: none;
 padding: 12px 24px!important;
 margin-top: 16px!important;
 font-size: 18px!important;
 display: inline-block;
}

h1{
 font-family: "Lato", sans-serif;
 font-size: 64px!important;
 margin: 16px!important;
}

#Template{
  font-size: 24px!important;
  font-family: "Lato", sans-serif;
}

#startbutton{
 color: white;
 background-color: #000!important;
 border: none;
 padding: 12px 24px!important;
 margin-top: 16px!important;
 font-size: 18px!important;
 text-decoration: none;
}

main {
background-color: white;
color: black;
}

#Lorem{
 height: 450px;
  padding-top: 10px!important;
 padding-bottom: 60px!important;
}


#Loremtitle{
 margin: 30px 5% 30px 5%;
 padding: 1.5%;
 width: 60%;
 font-size: 40px!important;
}

#Loremo{
 margin: 30px 5% 30px 5%;
 padding: 1.5%;
 width: 60%;
 font-size: 20px!important;
}

#Loremt{
 color: gray;
 margin: 30px 5% 30px 5%;
 padding: 1.5%;
 width: 60%;
 font-size: 20px!important;
}

#Ipsum{
 background-color: lightgray;
 height: 500px;
 padding-top: 10px!important;
 padding-bottom: 60px!important;
}

#Ipsumtitel{
 margin: 30px 5% 30px 5%;
 padding: 1.5%;
 float: right;
 width: 60%;
 font-size: 40px!important;
}

#Ipsumo{
 margin: 30px 5% 30px 5%;
 padding: 1.5%;
 float: right;
 width: 60%;
 font-size: 20px!important;
}

#Ipsumt{
 color: gray;
 margin: 30px 5% 30px 5%;
 padding: 1.5%;
 float: right;
 width: 60%;
 font-size: 20px!important;
}


#Quote{
 font-family: "Lato", sans-serif;
 background-color: gray;
 height: 50px;
 padding-top: 64px!important;
 padding-bottom: 64px!important;
}

h3{
 color: white;
 text-align: center;
}

h4{
 color: gray;
 text-align: center;
 padding-top: 64px!important;
 padding-bottom: 64px!important;
}

footer{
  background-color: white;
  height: 70px;
  padding-top: 100px!important;
  padding-bottom: 130px!important;
  text-align: center;
}

#face{
 color: gray;
 font-size: 24px!important;
}

#insta{
 color: gray;
 font-size: 24px!important;
}

#snap{
 color: gray;
 font-size: 24px!important;
}

#pin{
 color: gray;
 font-size: 24px!important;
}

#twi{
 color: gray;
 font-size: 24px!important;
}

#link{
 color: gray;
 font-size: 24px!important;
}







